<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cory.annotate" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Annotate"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddWifiNote"
            android:label="@string/title_activity_add_wifi_note"
            android:parentActivityName=".Annotate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cory.annotate.Annotate" />
        </activity>
        <activity
            android:name=".AvailableNetworks"
            android:label="@string/title_activity_available_networks" >
        </activity>
        <activity
            android:name=".NoteList"
            android:label="@string/title_activity_note_list" >
        </activity>
        <activity
            android:name=".Note"
            android:label="@string/title_activity_note" >
        </activity>
        <activity
            android:name=".WifiNetwork"
            android:label="@string/title_activity_wifi_network" >
        </activity>
    </application>

</manifest>
